html, body {
  margin: 0;
  padding: 0;
}
canvas {
  background-color:rgb(18, 26, 34);
}

button {
  background-color: #1f5d6b;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  font-size: 16px;
  font-weight:bold;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

button:hover {
  background-color: white;
  color: #1f5d6b;
  font-weight:bold;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  cursor:pointer;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #1f5d6b;
  border-color: #000000;
}

.checkbox input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 16px;
  position: relative;
  top: 0;
  left: 4px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 3px;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}