html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}
canvas {
  background-color:rgb(18, 26, 34);
}

button {
  background-color: #9B5DE5;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  font-size: 16px;
  font-weight:bold;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

button:hover {
  background-color: white;
  color: #683f99;
  font-weight:bold;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: white;
  cursor:pointer;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #1f5d6b;
  border-color: #000000;
}

.checkbox input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 14px;
  position: relative;
  top: 0;
  left: 4px;
  margin-bottom: 9px;
}

.label {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  
  font-family: Montserrat, sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url(assets/Montserrat-VariableFont_wght.ttf);
}

h1,h2,h3,h4,h5,h6,p,label{
  font-family: Montserrat, sans-serif;
}